<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.os.foodie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.AppController"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:roundIcon="@mipmap/ic_launcher_round" -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key_1" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="aea43dd828cd9f836b47f84c4e07333b9b153d03" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider796924880472669"
            android:exported="true" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />
        <service android:name=".service.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/login_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.signup.customer.CustomerSignUpActivity"
            android:label="@string/customer_sign_up_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.signup.restaurant.RestaurantSignUpActivity"
            android:label="@string/restaurant_sign_up_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.otp.OtpActivity"
            android:label="@string/otp_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.forgotpassword.ForgotPasswordActivity"
            android:label="@string/forgot_password_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.locationinfo.LocationInfoActivity"
            android:label="@string/location_info_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.fbsignup.FacebookSignUpActivity"
            android:label="@string/facebook_sign_up_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.main.restaurant.RestaurantMainActivity"
            android:configChanges="locale"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.menu.show.restaurant.RestaurantMenuActivity"
            android:label="@string/title_restaurant_menu_activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.menu.add.RestaurantMenuAddUpdateDishActivity"
            android:label="@string/restaurant_menu_add_update_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.main.customer.CustomerMainActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.details.restaurant.RestaurantDetailsActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".ui.info.RestaurantInfoActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.setting.changepassword.ChangePasswordActivity"
            android:label="@string/change_password_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.filters.FiltersActivity"
            android:label="@string/filters_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".ui.search.RestaurantSearchActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".ui.mybasket.MyBasketActivity"
            android:label="@string/my_basket_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.deliveryaddress.show.DeliveryAddressActivity"
            android:label="@string/delivery_address_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.deliveryaddress.addedit.AddEditDeliveryAddressActivity"
            android:label="@string/add_delivery_address_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.payment.show.PaymentMethodActivity"
            android:label="@string/manage_cards_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.payment.add.AddPaymentCardActivity"
            android:label="@string/add_payment_card_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.payment.select.SelectPaymentActivity"
            android:label="@string/select_payment_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.deliveryaddress.select.SelectDeliveryAddressActivity"
            android:label="@string/select_delivery_address_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.discount.add.DiscountAddActivity"
            android:label="@string/discount_mangement_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.order.restaurant.detail.OrderHistoryDetailActivity"
            android:label="@string/order_detail_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.setting.staticpages.StaticPageActivity"
            android:label="@string/settings_tv_terms_of_use_tag_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.review.ReviewActivity"
            android:label="@string/review_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".ui.mybasketlist.MyBasketListActivity"
            android:label="@string/select_basket_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity android:name=".ui.asksignup.AskSignUpActivity"
            android:label="@string/choose_sign_up_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>